body {
    word-wrap: break-word;
}

nav {
    background-color: gold;
    padding: 1em 0;
}
nav > * {
    margin: 0 2em;
}

.flexContainer {
    height: 300px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.flexContainer > form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.errorContainer {
    height: 100px;
    margin-top: 30px;
}
.errorContainer > h4 {
    margin-top: 0
}
.errors {
    position: absolute;
    left: 200px;
    top: 350px;
}

.AuctionNewPage > form > * {
    margin: 1em 0;
}

.AuctionDetailRight > * { 
    margin-bottom: 3em;
}

.bidForm {
    margin-left: 30%;
}

.bidForm > * {
    margin: 1em;
    border: solid black 2px;
    box-shadow: 3px 3px;
}

.bidForm > input:last-child {
    cursor: pointer;
}

.publish {
    width: 100%;
    height: 50px;
    box-shadow: 3px 3px;
    border: solid black 2px;
    background-color: rgb(20,255,20);    
    font-size: 2em;
    cursor: pointer;
}