body {
    word-wrap: break-word;
}

nav {
    background-color: gold;
    padding: 1em 0;
}
nav > * {
    margin: 0 2em;
}

.SigninPage {
    height: 500px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.AuctionNewPage > form > * {
    margin: 1em 0;
}

.AuctionDetailRight > * { 
    margin-bottom: 3em;
}

.bidForm {
    margin-left: 30%;
}

.bidForm > * {
    margin: 1em;
    border: solid black 2px;
    box-shadow: 3px 3px;
}

.bidForm > input:last-child {
    cursor: pointer;
}

.publish {
    width: 100%;
    height: 50px;
    box-shadow: 3px 3px;
    border: solid black 2px;
    background-color: rgb(20,255,20);    
    font-size: 2em;
    cursor: pointer;
}